* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Times New Roman', Times, serif;
}
p {
    margin-bottom: .5rem;
}
.navPad {
    padding: 20px;
    font-size: larger;
    
}
.branddy {
    width: 20%;
    text-align: center;
}
.navUl {
    width: 80%;
    margin-left: 30%;
}

/* HOME */

.bg {
    width: 100%;
    height: 680px;
    position: relative;
    margin-bottom: 30px;
}
.homeOne {
    font-size: 4em;
    letter-spacing: 1rem;
    text-transform: uppercase;
}
.homeTwo {
    font-size: 3em; 
    margin-top: 30px; 
    letter-spacing: 1rem;
    text-transform: uppercase;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 670px;
    background-image: -moz-repeating-radial-gradient(#285F6F, #EAECCA);
    top: 10px;
    opacity: .8;
    text-align: center;
}
.homeAside {
    padding-top: 150px;
    color: white; 
    width: 100%;
    position: relative;
}
.homeBut {
    padding: 10px 30px;
    border: 2px solid #285F6F;
    background-color: white;
    color: #285F6F;
    font-size: 1.2em;
    margin-top: 20px;
}
.secList {
    margin-top: 40px;
    padding: 10px;
    font-size: 1em;
    text-align: center;
}

/* GALLERY */

#gallery {
    margin-top: 50px;
}
.subTitle {
    text-align: center;
    font-size: 2em;
}
.subTitleNext {
    text-align: center;
    font-style: italic;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    margin-bottom: 50px;
    margin-top: 80px;
}
.galImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.galImg:hover {
    transform: scale(1.3, 1.3);
    transition-duration: 3s;
    cursor: cell;
}
#m1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}
#m2 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}
#m3 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
}
#m4 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 6;
}
#m5 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 7;
}
#m6 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 7;
}
#m7 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 7;
}
#m8 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 8;
}
#m9 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 7;
    grid-row-end: 10;
}
#m11 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 10;
}
#m10 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 10;
}
#m12 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 10;
    grid-row-end: 13;
}
#m13 {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 10;
    grid-row-end: 12;
}
#m14 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 10;
    grid-row-end: 13;
}
#m15 {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 12;
    grid-row-end: 13;
}

/* SPEAKER */
.rowSpeaker {
    align-content: center;
    margin-top: 100px;
    margin-bottom: 0px;
   
}
.spk {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.spkSec {
    width: 23%;
    height: 300px;
    position: relative;
    float: left;
    margin: 0 10px;
}
.speakerDiv {
    position: absolute;
    top: 270px;
    left: 60px;
    background-color: #EAECCA;
    padding: 5px 25px;
    border: 1px solid #285F6F;
    border-radius: 5px;
}
.speakerImage {
    width: 95%;
}
.speakerImage img {
    width: 100%;
    height: 250px;
    border-radius: 50%;
    border: 10px double #285F6F;
}
.nameStyle {
    font-style: italic;
    font-weight: 700;
    margin-bottom: 1px;
}

/*  SPONSORS */

.logoDisplay {
    margin-bottom: 70px;
    display: flex;
}
.logoDisplay img {
    width: 100px;
    height: 100px;
    opacity: .7;
    border-radius: 50%;

}

/* CONTACT */

#contact {
    background-image: url("//image/upcomingTwo.jpeg");
    background-size: cover;
    margin: 70px 0 70px 0;
}
.rowSec {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#fname, #phnum, #mail {
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}
.subSubmit {
    padding: 5px 15px;
    font-variant: small-caps;
    font-size: 1.2em;
    background-color: #285F6F;
    border-radius: 10px;
    border: 5px double #285F6F;
    color: white;
    margin-bottom: 30px;
}
#male {
    width: 30px;
    margin-bottom: 30px;
}

/* SUBSCRIBE */

.rowSubscribe {
    text-align: center;
    margin: 70px 0 50px 0;
}
.subscribeInput {
    margin-top: 20px;
}
#subInput {
    width: 40%;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}
 
/* Footer */

footer {
    margin-top: 50px;
    text-align: center;
    background-color: #285F6F;
    color: white;
    padding: 80px 0;
    font-size: .8em;

}
.ftp {
    font-size: 2em;
    text-transform: uppercase;
}
.iconStyle {
    color: white;
    font-size: 1.2rem;
    margin: 3px;
}
